*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
/.idea
app/reports_keystore_release.jks
app/reports_keystore_release.jks
